

/* Projects */

.project {
  overflow: hidden;
  &-section-heading {
    background-color: #41748D;
    color: #fff;
    font-size: 2.4rem;
    text-transform: capitalize;
    padding: 2rem;
    font-weight: 300;
    text-align: center;

    & h1 {
      font-weight: 300;
    }

  }

  &:nth-child(odd) {
    background-color: #ececec;
  }

  &:nth-child(even) {
    background-color: #ddd;
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 300;
    padding: 5rem 3rem 0;
  }

  &__image {
    float: right;
    padding: 4rem 3rem 0;
    width: 60%;
    transition: all .3s ease-out;

  &:hover {
    transform: scale(1.1)
  }
  }

  &__info {
    float: left;
    width: 40%;
    padding: 3rem;
  }

  &__info-heading {
    font-size: 2.3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  &__text {
  font-size: 1.6rem;
  line-height: 1.5;
  }

  &__tools {
    margin-top: 3rem;
    list-style: none;
  }

  &__tool {
    font-size: 7.0rem;
    display: inline-block;
    margin-right: 3rem;
  }

  &__actions {
    margin: 0 0 4rem 3rem;
    clear: both;
  }
}
