.btn  {
  &:link, &:visited{
    border: 1px solid $color-black;
    border-radius: .3rem;
    color: inherit;
    font-size: 1.8rem;
    margin-right: 3rem;
    padding: 1.2rem 2.5rem;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .3s ease-out;
  }
  &:hover {
    border: 1px solid $color-blue;
    background-color: $color-blue;
    color: $color-white;
    box-shadow: 1px 5px rgba($color-black, 0.2);
  } 

}